HolidayReservationSystem/xml-resources/web-service-references/PartnerReservationWebService/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="EntityMismatchException" type="tns:EntityMismatchException"/>

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="ReservationRecordNotFoundException" type="tns:ReservationRecordNotFoundException"/>

<xs:element name="partnerLogin" type="tns:partnerLogin"/>

<xs:element name="partnerLoginResponse" type="tns:partnerLoginResponse"/>

<xs:element name="partnerReserveRooms" type="tns:partnerReserveRooms"/>

<xs:element name="partnerReserveRoomsResponse" type="tns:partnerReserveRoomsResponse"/>

<xs:element name="searchRoom" type="tns:searchRoom"/>

<xs:element name="searchRoomResponse" type="tns:searchRoomResponse"/>

<xs:element name="unwrapRoomTicket" type="tns:unwrapRoomTicket"/>

<xs:element name="unwrapRoomTicketResponse" type="tns:unwrapRoomTicketResponse"/>

<xs:element name="viewAllPartnerReservation" type="tns:viewAllPartnerReservation"/>

<xs:element name="viewAllPartnerReservationResponse" type="tns:viewAllPartnerReservationResponse"/>

<xs:element name="viewReservationDetails" type="tns:viewReservationDetails"/>

<xs:element name="viewReservationDetailsResponse" type="tns:viewReservationDetailsResponse"/>

<xs:complexType name="partnerLogin">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationRecords" type="tns:reservationRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationRecord">
<xs:sequence>
<xs:element name="assignedRoom" type="tns:room" minOccurs="0"/>
<xs:element name="bill" type="xs:decimal" minOccurs="0"/>
<xs:element name="checkInTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="checkOutTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="exception" type="tns:exceptionReport" minOccurs="0"/>
<xs:element name="guestEmail" type="xs:string" minOccurs="0"/>
<xs:element name="reservationRecordId" type="xs:long" minOccurs="0"/>
<xs:element name="reservedByGuest" type="tns:guest" minOccurs="0"/>
<xs:element name="reservedByPartner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservedOn" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="floor" type="xs:int" minOccurs="0"/>
<xs:element name="isOccupiedUntil" type="xs:dateTime" minOccurs="0"/>
<xs:element name="occupancy" type="tns:isOccupiedEnum" minOccurs="0"/>
<xs:element name="reservationRecords" type="tns:reservationRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomId" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="status" type="tns:statusEnum" minOccurs="0"/>
<xs:element name="unit" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bedType" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="ranking" type="xs:int" minOccurs="0"/>
<xs:element name="roomAvailabilities" type="tns:roomAvailability" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRate" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="tns:statusEnum" minOccurs="0"/>
<xs:element name="totalRooms" type="xs:int" minOccurs="0"/>
<xs:element name="typeId" type="xs:long" minOccurs="0"/>
<xs:element name="typeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomAvailability">
<xs:sequence>
<xs:element name="availabiltyRecordDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="roomAvailabilityId" type="xs:long" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="totalReservations" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="rateId" type="xs:long" minOccurs="0"/>
<xs:element name="rateName" type="xs:string" minOccurs="0"/>
<xs:element name="ratePerNight" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:rateTypeEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="status" type="tns:statusEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exceptionReport">
<xs:sequence>
<xs:element name="errorReport" type="xs:string" minOccurs="0"/>
<xs:element name="exceptionReportDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="exceptionReportId" type="xs:long" minOccurs="0"/>
<xs:element name="reservation" type="tns:reservationRecord" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:sequence>
<xs:element name="emailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="guestId" type="xs:long" minOccurs="0"/>
<xs:element name="guestName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservationRecords" type="tns:reservationRecord" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservation">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllPartnerReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationRecord" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserveRooms">
<xs:sequence>
<xs:element name="arg0" type="tns:reservationTicket" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationTicket">
<xs:sequence>
<xs:element name="availableRoomTypes" type="tns:roomType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="respectiveNumberOfRoomsRemaining" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveNumberReserved" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveTotalBill" type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerReserveRoomsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationRecord" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unwrapRoomTicket">
<xs:sequence>
<xs:element name="arg0" type="tns:reservationTicketWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservationTicketWrapper">
<xs:sequence>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="reservationDescriptions" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveNumberToReserve" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveRoomRemaining" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveRoomTypeName" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="respectiveTotalBill" type="xs:decimal" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="unwrapRoomTicketResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationTicket" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoom">
<xs:sequence>
<xs:element name="arg0" type="xs:dateTime" minOccurs="0"/>
<xs:element name="arg1" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservationTicketWrapper" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationDetails">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0"/>
<xs:element name="arg1" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationDetailsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EntityMismatchException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ReservationRecordNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="isOccupiedEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="OCCUPIED"/>
<xs:enumeration value="UNOCCUPIED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="rateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="statusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="UNAVAILABLE"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>