HolidayReservationSystem/src/META-INF/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="partnerReserveRooms">
<part name="parameters" element="tns:partnerReserveRooms"/>
</message>
<message name="partnerReserveRoomsResponse">
<part name="parameters" element="tns:partnerReserveRoomsResponse"/>
</message>
<message name="viewAllPartnerReservation">
<part name="parameters" element="tns:viewAllPartnerReservation"/>
</message>
<message name="viewAllPartnerReservationResponse">
<part name="parameters" element="tns:viewAllPartnerReservationResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="EntityMismatchException">
<part name="fault" element="tns:EntityMismatchException"/>
</message>
<message name="ReservationRecordNotFoundException">
<part name="fault" element="tns:ReservationRecordNotFoundException"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<message name="unwrapRoomTicket">
<part name="parameters" element="tns:unwrapRoomTicket"/>
</message>
<message name="unwrapRoomTicketResponse">
<part name="parameters" element="tns:unwrapRoomTicketResponse"/>
</message>
<message name="partnerLogin">
<part name="parameters" element="tns:partnerLogin"/>
</message>
<message name="partnerLoginResponse">
<part name="parameters" element="tns:partnerLoginResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<portType name="PartnerReservationWebService">
<operation name="partnerReserveRooms">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerReserveRoomsRequest" message="tns:partnerReserveRooms"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerReserveRoomsResponse" message="tns:partnerReserveRoomsResponse"/>
</operation>
<operation name="viewAllPartnerReservation">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewAllPartnerReservationRequest" message="tns:viewAllPartnerReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewAllPartnerReservationResponse" message="tns:viewAllPartnerReservationResponse"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:EntityMismatchException" name="EntityMismatchException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewReservationDetails/Fault/EntityMismatchException"/>
<fault message="tns:ReservationRecordNotFoundException" name="ReservationRecordNotFoundException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/viewReservationDetails/Fault/ReservationRecordNotFoundException"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/searchRoomResponse" message="tns:searchRoomResponse"/>
</operation>
<operation name="unwrapRoomTicket">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/unwrapRoomTicketRequest" message="tns:unwrapRoomTicket"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/unwrapRoomTicketResponse" message="tns:unwrapRoomTicketResponse"/>
</operation>
<operation name="partnerLogin">
<input wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLoginRequest" message="tns:partnerLogin"/>
<output wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLoginResponse" message="tns:partnerLoginResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/PartnerReservationWebService/partnerLogin/Fault/InvalidLoginCredentialException"/>
</operation>
</portType>
<binding name="PartnerReservationWebServicePortBinding" type="tns:PartnerReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="partnerReserveRooms">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllPartnerReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EntityMismatchException">
<soap:fault name="EntityMismatchException" use="literal"/>
</fault>
<fault name="ReservationRecordNotFoundException">
<soap:fault name="ReservationRecordNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unwrapRoomTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
</binding>
<service name="PartnerReservationWebService">
<port name="PartnerReservationWebServicePort" binding="tns:PartnerReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService"/>
</port>
</service>
</definitions>